<nav>
    <div class="left-nav">
        {% if config.extra.logo %}
            <a href={{ config.base_url }} class="logo">
                <img alt="{{ config.title }}" src="{{ get_url(path=config.extra.logo) }}" />
            </a>
        {% else %}
            <a href={{ config.base_url }}>{{ config.title }}</a>
        {% endif %}

        <div class="socials">
            {% if config.markdown.external_links_target_blank %}
                {% set link_attrs = "rel='me noopener' target='_blank'" %}
            {% else %}
                {% set link_attrs = "rel='me'" %}
            {% endif %}
            {% for social in config.extra.socials %}
                <a {{ link_attrs | safe }} href="{{ social.url }}" class="social">
                    <img alt="{{ social.name }}"
                         src="{{ get_url(path='icons/social/' ~ social.icon ~ '.svg') }}" />
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="right-nav">
        {% for menu in config.extra.menu %}
            <a href={{ get_url(path=menu.url) }} style="margin-right: 0.5em">{{ menu.name }}</a>
        {% endfor %}

        {% if config.extra.search %}
            <button id="search-button"
                    class="search-button"
                    title="Search">
                <img src="{{ get_url(path='icons/search.svg') }}"
                     alt="Search"
                     class="search-icon" />
            </button>

            <div id="search-container">
                <div id="pagefind-search"></div>
            </div>
        {% endif %}

        {% if config.extra.theme == "toggle" %}
            <a id="dark-mode-toggle"
               onclick="toggleTheme(); event.preventDefault();"
               href="#">
                <img src="{{ get_url(path='icons/sun.svg') }}" id="sun-icon" alt="Light" />
                <img src="{{ get_url(path='icons/moon.svg') }}"
                     id="moon-icon"
                     style="filter: invert(1)"
                     alt="Dark" />
                <img src="{{ get_url(path='icons/auto.svg') }}"
                     id="auto-icon"
                     style="filter: invert(1)"
                     alt="Auto" />
            </a>

            <script>
                updateItemToggleTheme()
            </script>
        {% endif %}
    </div>
</nav>
